/* start main rules */
body {
  background-color: #F4F4F4;
  font-size: 16px;
}

.required {
  position: relative;
}

.astrisk {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 7px;
  color: #D20707;
}

.main-form .astrisk {
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 8px;
  color: #D20707;
}

.profile-form .astrisk {
  right: 20px;
  top: 10px;
}

h1 {
  font-size: 55px;
  margin: 40px 0;
  font-weight: bold;
  color: #666;
}

a {
  text-decoration: none;
}

/* end main rules */

/* start bootstrap edits */
.navbar-brand {
  font-size: 1em;
}

.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.dropdown-menu {
  background-color: #3498bd;
}

.dropdown-menu {
  padding: 0;
  font-size: 1em;
  border: none;
  border-radius: 0;
}

.dropdown-item:hover {
  transition: all 0.3s;
  background-color: #8e44ad !important;
}

/* end bootstrap edits */
/* start header */
.upper-bar {
  /* padding: 10px; */
  background-color: #FFF;
}

.my-info {
  display: flex;
  align-items: center;
}

.my-info .avatar {
  width: 45px;
  height: 45px;
  margin: 5px;
}

/* end header */
/* start login page */
.login-page form,
.errors {
  max-width: 380px;
  margin: auto;
}

.login-page form input {
  margin-bottom: 10px;
}

.login-page [data-class="login"].selected {
  color: #0d6efd;
}

.login-page [data-class="signup"].selected {
  color: #198754;
}

.login-page h1 {
  color: #C0C0C0;
}

.login-page h1 span {
  cursor: pointer;
}

.login-page .signup {
  display: none;
}

.errors .msg {
  padding: 10px;
  text-align: left;
  border-left: 5px solid #cd6858;
  border-right: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  margin-bottom: 8px;
  color: #919191;
}

.errors .error {
  border-left: 1px solid #cd6858;
}

/* end login page */
/* start categories page */
.item-box {
  position: relative;
  margin-bottom: 5px;
}

.item-box .approve-status {
  position: absolute;
  top: 40px;
  left: 0;
  background-color: #b85a8a;
  color: #fff;
  padding: 3px 5px;
}

.item-box .price-tag {
  background-color: #B4B4B4;
  padding: 2px 5px;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: bold;
  color: #FFF;
  border-radius: 0 5px 5px 0;
}

.item-box .caption p {
  height: 44px;
  max-height: 44px;
}

.item-box .date {
  text-align: right;
  font-size: 13px;
  color: #c0c0c0;
  font-weight: bold;
}

/* end categories page */
/* start profile page */
.information,
.block {
  margin-top: 20px;
}

.information ul {
  margin: 0;
  padding: 0;
}

.information ul li {
  padding: 10px;
}

.information ul li:nth-child(odd) {
  background-color: #eee;
}

.information ul li span {
  display: inline-block;
  width: 130px;
}

.information .btn {
  margin-top: 10px;
}

/* end profile page */
/* start show item page */
.item-info h2 {
  padding: 10px;
  margin: 0;
}

.item-info p {
  padding: 10px;
}

.item-info ul li {
  padding: 10px;
}

.item-info ul li:nth-child(odd) {
  background-color: #e8e8e8;
}

.item-info ul li span {
  display: inline-block;
  width: 130px;
}

.tags-items .tag {
  display: inline-block;
  background-color: #e2e2e2;
  padding: 2px 10px;
  border-radius: 5px;
  color: #666;
  margin-right: 5px;
}

.comment h3 {
  margin: 0 0 10px;
}

.comment textarea {
  display: block;
  margin-bottom: 10px;
  width: 500px;
  height: 120px;
}

.comment input[type='button'] {
  margin-bottom: 5px;
}

.comment-box {
  padding: 10px 0;
}

.comment-box:not(:last-of-type) {
  border-bottom: 1px solid #c9c9c9;
}

.comment-box img {
  max-width: 100px;
  display: block;
  margin: auto;
}

.comment-box .lead {
  background-color: #e0e0e0;
  position: relative;
  padding: 10px;
  margin-top: 1rem;
}

.comment-box .lead::before {
  content: "";
  width: 0;
  height: 0;
  border-width: 20px;
  border-style: solid;
  border-color: transparent #e0e0e0 transparent transparent;
  position: absolute;
  left: -35px;
  top: 5px;
}

/* end show item page */
/* start our custom */
.custom-hr {
  border-top: 1px solid #c9c9c9;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* end our custom */