/* start main rules */
body {
  background-color: #F4F4F4;
  font-size: 16px;
}

.required {
  position: relative;
}

.astrisk {
  font-size: 20px;
  position: absolute;
  right: 10px;
  top: 7px;
  color: #D20707;
}

h1 {
  font-size: 55px;
  margin: 40px 0;
  font-weight: bold;
  color: #666;
}

/* end main rules */

/* start bootstrap edits */
.navbar-brand {
  font-size: 1em;
}

.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.dropdown-menu {
  background-color: #3498bd;
}

.dropdown-menu {
  padding: 0;
  font-size: 1em;
  border: none;
  border-radius: 0;
}

.dropdown-item:hover {
  transition: all 0.3s;
  background-color: #8e44ad !important;
}

/* end bootstrap edits */
/* start header */
.upper-bar {
  padding: 10px;
  background-color: #FFF;
}

/* end header */
/* start login page */
.login-page form {
  max-width: 380px;
  margin: auto;
}

.login-page form input {
  margin-bottom: 10px;
}
.login-page [data-class="login"].selected{color:#0d6efd;}
.login-page [data-class="signup"].selected{color:#198754;}

.login-page h1{
  color: #C0C0C0;
}
.login-page h1 span{
  cursor: pointer;
}
.login-page .signup{
  display: none;
}
/* end login page */
/* start categories page */
.item-box {
  position: relative;
}

.item-box .price-tag {
  background-color: #B4B4B4;
  padding: 2px 5px;
  position: absolute;
  left: 0;
  top: 10px;
  font-weight: bold;
  color: #FFF;
  border-radius: 0 5px 5px 0;
}

/* end categories page */