/* start main rules */
body {
  background-color: #F4F4F4;
  font-size: 16px;
}

.required {
  position: relative;
}

.astrisk {
  font-size: 30px;
  position: absolute;
  right: 30px;
  top: 8px;
  color: #D20707;
}

/* end main rules */
/* start login form */
.login {
  width: 300px;
  margin: 100px auto;
}

.login h4 {
  color: #888;
}

.login input {
  margin-bottom: 10px;
}

.login .form-control {
  background-color: #EAEAEA;
}

.login .btn {
  background-color: #008DDE;
}

/* end login form */

/* start bootstrap edits */
.navbar-brand {
  font-size: 1em;
}

.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.dropdown-menu {
  background-color: #3498bd;
}

.dropdown-menu {
  /* min-width: 12rem; */
  padding: 0;
  font-size: 1em;
  border: none;
  border-radius: 0;
}

.dropdown-item:hover {
  /* padding-left: 20px; */
  transition: all 0.3s;
  background-color: #8e44ad !important;
}

/* end bootstrap edits */

/* start dashboard page */
.home-stats .stat {
  padding: 20px;
  font-size: 15px;
  color: #FFF;
  border-radius: 10px;
}
.home-stats .stat a{
  color: #FFF;
  text-decoration: none;
}
.home-stats .stat a:hover{}
.home-stats .stat span {
  display: block;
  font-size: 60px;
}

.home-stats .st-members{
  background-color: #6002ee;
}
.home-stats .st-pending{
  background-color: #c0392b;
}
.home-stats .st-items{
  background-color: #d602ee;
}
.home-stats .st-comments{
  background-color: #ee6002;
}

.latest {
  margin-top: 30px;
}

/* end dashboard edits */

/* start members page */
h1 {
  font-size: 55px;
  margin: 40px 0;
  font-weight: bold;
  color: #666;
}

.show-pass {
  position: absolute;
  top: 6px;
  right: -30px;
}

.main-table {
  box-shadow: 0px 3px 10px #ccc;
}

.main-table th {
  background-color: #333;
  color: #FFF;
}

.main-table td {
  background-color: #FFF;
  vertical-align: middle !important;
}

.main-table .btn {
  padding: 3px 10px;
}
.activate{margin-left: 5px;}

/* end members page */